# React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example

# Spring Boot
backend/target/
backend/CareerVerse-AI/target/
backend/.mvn/
*.class
*.log

# Python
emotion-service/venv/
emotion-service/.cache/
emotion-service/__pycache__/
emotion-service/**/*.pyc

# IDE
.vscode/
.idea/

# Secrets
.env
*.env
!.env.example
backend/CareerVerse-AI/src/main/resources/application.properties
